<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.2" targetFramework="net451" />
  <package id="GeorgeCloney" version="1.1.1.17" targetFramework="net451" />
  <package id="Prism" version="5.0.0" targetFramework="net451" />
  <package id="Prism.Composition" version="5.0.0" targetFramework="net451" />
  <package id="Prism.Interactivity" version="5.0.0" targetFramework="net451" />
  <package id="Prism.Mvvm" version="1.0.0" targetFramework="net451" />
  <package id="Prism.PubSubEvents" version="1.0.0" targetFramework="net451" />
  <package id="Prism.UnityExtensions" version="5.0.1" targetFramework="net451" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net451" />
  <package id="Xceed.Products.Wpf.DataGrid.Base" version="5.4.14473.13530" targetFramework="net451" />
  <package id="Xceed.Wpf.Controls" version="5.4.14473.13530" targetFramework="net451" />
  <package id="Xceed.Wpf.DataGrid" version="5.4.14473.13530" targetFramework="net451" />
</packages>